@import 'tailwindcss';

@theme {
  --color-primary: #213d34;
  --color-secondary: #d9ef78;
  --color-tertiary: #f1f2ed;

  --font-syne: 'Syne', sans-serif;
  --font-work-sans: 'Work Sans', 'sans-serif';
}
